# Игнорируем папку виртуальной среды venv
venv/
.venv/

# Игнорируем служебные файлы и папки PyCharm/IDEA
.idea/

# Игнорируем файл экспорта CSV, если он не нужен в репозитории
export.csv

# Игнорируем все файлы в корне, кроме тех, которые нужны
!bot.py
!db/
